<h1>Listing churches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Church phone</th>
      <th>Church email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @churches.each do |church| %>
      <tr>
        <td><%= church.name %></td>
        <td><%= church.address %></td>
        <td><%= church.church_phone %></td>
        <td><%= church.church_email %></td>
        <td><%= link_to 'Show', church %></td>
        <td><%= link_to 'Edit', edit_church_path(church) %></td>
        <td><%= link_to 'Destroy', church, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Church', new_church_path %>
